/* Base setting, you can remove */
html {
  scroll-behavior: smooth
}
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
  img {
    display: block;
    max-width: 100%;
  }
  /* End base setting */
  .flex {
    --spacing: 20px;
    --column: 3;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    margin-bottom: calc(-1 * var(--spacing));
  }
  .flex > * {
    margin-left: var(--spacing);
    margin-bottom: var(--spacing);
    width: calc((100% / var(--column)) - var(--spacing));
  }
  .flex-item {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #eee;
  }

.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #333;
  color: #fff;
  font-size: 16px;
}